Source: ros-jade-jsk-control
Section: misc
Priority: extra
Maintainer: Ryohei Ueda <ueda@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-jsk-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-eus-nlopt, ros-jade-eus-qp, ros-jade-eus-qpoases, ros-jade-joy-mouse, ros-jade-jsk-calibration, ros-jade-jsk-footstep-controller, ros-jade-jsk-footstep-planner, ros-jade-jsk-ik-server, ros-jade-jsk-teleop-joy
Description: The jsk_control package
